# Server Configuration
PORT=8080
ENV=production
GIN_MODE=release

# Search Configuration
SEARCH_INDEX_PATH=quran.bleve
AUTO_INDEX=true

# External APIs
KEMENAG_API=https://web-api.qurankemenag.net
PRAYER_TIME_API=https://api.aladhan.com/v1